body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/*Segment 1 start*/

.segment-1 {
    background-color: #cc76b9;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 50px;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    max-width: 500px;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 350px;
}

.Signup-Segment1 {
    background-color: red;
    border-radius: 5px;
    border-color: red;
    color: #F9FAF8;
    padding: 5px 20px;
    margin-top: 5px;
}

.Sakura {
    width: auto;
    height: 400px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

/*Segment 1 ends*/

/*Segment 2 starts*/

.segment-2 {
    text-align: center;
    padding-bottom: 100px;
}

.sakura-svg {
    width: 100px;
    height: 100px;
}

.header-container2 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.header2 {
    font-weight: bold;
    font-size: 36px;
    margin: 36px 0px;
}

.division-name {
    font-size: 26px;
}

.sub-divisions-container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.sub-division-text {
    max-width: 200px;
}


/*Segment 2 ends*/